
.form-box{
    display: flex;
    width: 300px;
    flex-direction: column;
    margin: 0 auto;
    height: 100vh;
    padding-top: 20vh;
    .form-header{
        height: 56px;
        line-height: 56px;
        width: 100%;
        .column{
            float: left;
            font-size: 16px;
            color: #fff;
        }
        span{
            float: right;
            font-size: 14px;
            color: #fff;
        }
    }
    .form-wrap{
        width: 300px;
        margin: 0 auto;
        align-items: center;
    }
}





